.active-slide {
  opacity: 1;
  transform: translateX(0);
}

.slide {
  opacity: 0;
  transform: translateX(-100%);
}

.article {
  float: left;
  position: absolute;
}
.header {
  height: 108px;
  background-color: #282828;
  width: 100%;
}
.hero {
  height: 908px;
  background-color: #1f1f1f;
}

.next-btn {
  display: none;
}
.prev-btn {
  display: none;
}
.paging-dots {
}
.img-css {
}
